<h1><%= @user.email %></h1>

<% if @user.avatar.attached? %>
  <%= image_tag url_for(@user.avatar), class: "w-32 h-32 rounded-full" %>
<% else %>
  <p>ไม่มีรูปโปรไฟล์</p>
<% end %>

<%= link_to "แก้ไขโปรไฟล์", edit_user_path(@user) %>
