<div class="w-full p-8">

      <%= render 'posts/components/main_article' %>
      
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="lg:col-span-2">
          <%= render 'posts/components/popular_articles' %>
          <%= render 'posts/components/lastest_articles' %>
        </div>
        <%= render 'posts/components/sidebar' %>
      </div>
  </div>
</div>
